/****************************************************
 *
 * These are the basic styling among common elements
 * 
 ****************************************************/

/**
 * Reset some basic elements
 */
html, body, div, span, object, ifram, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, img, form, table, time, canvas, header,
meny, nav, section, audio, video, dl, dd, ol, ul, figure, blockquote {
  border:0;
  font-size:100%;
  vertical-align:baseline;
  margin:0;
  padding:0
}
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section{
  display:block
}
body {
  line-height:1
}
table {
  border-collapse:collapse;
  border-spacing:0
}


/**
 * Basic Styling
 */
html {
  font-size: 62.5%; // makes 1.2rem correspond to 12pt
}
body {
  font-family: $font-family-body;
  font-size: $font-size-base;
  color: $text-color-dark;
  background-color: $background-color;
  
  // Make font weight similar cross browsers
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.box {
  border-radius: .6rem;
  min-height: 3em;
}
.vertical-center {

  &:before {
    content: ' ';
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
  }
  
  > * {
    display: inline-block;
  }
}


/**
 * Text
 */

h1 {
  font-size: $font-size-large;
}


/**
 * Links
 */
a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}


/**
 * Buttons
 */
.button-large {
  border-radius: .7rem;
  border: 0;
  background-color: $background-color;
  font-family: $font-family-body;
  font-size: $font-size-medium;
  padding: .8em 4em;
  color: $text-color-dark;
  box-shadow: 0 .4rem 1.5rem rgba(0, 0, 0, .17);
  
  -webkit-transition: background-color .1s; /* Safari */
  transition: background-color .1s;
  
  &:hover {
    background-color: lighten($background-color, 3%);
  }
  &:active {
    background-color: lighten($background-color, 10%);
  }
}
.edit-circle {
  position: absolute !important;
  padding: 1rem;
}


/**
 * Icons
 */
.icon {
  height: 1em;
  width: 1em;
  vertical-align: top;

  > svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: top;

    path {
      fill: $text-color-dark;
    }
  }
}
.icon-white > svg path {
  fill: $text-color-light;
}
.editable {
  position: relative;
  text-decoration: underline;
  
  &:focus {
    text-decoration: none;
  }
}
.editable:before {
  content: "\a0\a0\a0\a0\a0"; // \a0 = (a space)
  background-image: url('../img/edit.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
}



/**
 * Animations
 */

// Loading spinner, courtesy of Frank Perez http://codepen.io/mrrocks/pen/EiplA
$offset: 187;
$duration: 1.4s;

.loading {
  @include animation(rotator $duration linear infinite);
  
  &.ng-hide-add {
    @include animation(.4s opacity-out ease);
  }
}

@include keyframes(opacity-out) {
  0% {opacity: 1}
  100% {opacity: 0}
}
@include keyframes(opacity-in) {
  0% {opacity: 0}
  100% {opacity: 1}
}

@include keyframes(rotator) {
  0% { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(270deg)); }
}

.loading .path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  stroke: black;
  @include transform-origin(center);
  @include animation(dash $duration ease-in-out infinite);
}


@include keyframes(dash) {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   @include transform(rotate(135deg));
 }
 100% {
   stroke-dashoffset: $offset;
   @include transform(rotate(450deg));
 }
}


