/****************************************************
 *
 * These are the specific layout styling for 
 * arranging the layouting the element on the pages
 * 
 ****************************************************/
 
 
/**
 * Login
 */
.login-form {
  background-color: $accent-color;
}
.signup-form {
  background-color: #AACFA0;
}
 
.login-form, .signup-form {
  width: 100%;
  max-width: 36rem;
  margin: auto;
  color: $text-color-light;
  border-radius: .7rem;
  box-shadow: 0 .4rem 3rem rgba(0, 0, 0, .17);
  
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  
  // vertical align
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  label {
    display: block;
    padding-bottom: 1rem;
  }
  
  form {
    margin: 2rem 2.8rem;
  }
  
  .email-form, .password-form {
    padding: 1em 0;
  }
  
  .input {
    width: 90%;
    color: $text-color-dark;
    background-color: rgba(#EFEFE7, .4);

    -webkit-transition: background-color .2s; /* Safari */
    transition: background-color .2s;
    
    // reset:
    font-size:100%;
    border: 0;
    padding: 0 5%;
    
    // placeholder text color
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    rgba($text-color-dark, .6);
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    rgba($text-color-dark, .6);
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    rgba($text-color-dark, .6);
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    rgba($text-color-dark, .6);
    }
    &:placeholder-shown { /* Standard */
      color:    rgba($text-color-dark, .6);;
    }
    
    &:focus {
      outline: none;
      background-color: rgba(#EFEFE7, .75);
    }
  }
  
  .error {
    float: right;
    font-size: $font-size-small;
    padding-top: .5em;
  }
  
  .button-large {
    display: block;
    margin: 2em auto;
  }
  
  .tabs {
    font-size: $font-size-medium;
    height: 6.4rem;
    display: table;
    width: 100%;
    
    .tab {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $text-color-light;
      
      &:hover {
        text-decoration: none;
      }
      
      &.unfocus {
        background-color: rgba(#EFEFE7, .35);
        box-shadow: inset .4rem -.3rem 8rem rgba(0, 0, 0, .07);
        -webkit-transition: background-color .2s; /* Safari */
        transition: background-color .2s;
        
        &:hover {
          background-color: rgba(239, 239, 231, .45);
        }
      }
    }
  }
}

/**
 * Profile page
 */
$profile-page-width: 90rem;
.profile-content {
  max-width: $profile-page-width;
  margin: auto;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .21);

}
.profile-header {
  width: 100%;
  height: 31rem;
  padding-top: .01rem; // fix bug in some browsers. Margin of .profile-icon went outside .profile-header
  position: relative;
  
  
  .profile-icon {
    width: 15rem;
    height: 15rem;
    display: block;
    margin: 2rem auto;
    position: relative;
    
    box-shadow: 0 .7rem 1.4rem rgba(0, 0, 0, .29);
    border-radius: 100%;
  }
  
  .profile-icon-container {
    width: 15rem;
    height: auto;
    display: block;
    margin: 2rem auto;
    position: relative;
    border-radius: 100%;
    
    .edit-circle {
      top: 25%;
      left: 25%;
    }
  }
  .fullname {
    text-align: center;
    font-weight: $font-weight-medium;
    color: $text-color-light;
  }
  
  .profile-information {
    width: 100%;
    overflow: hidden;
    margin: 3rem auto;
    color: $text-color-light;
    
    .email {
      display: inline-block;
      width: 50%;
      text-align: right;
      position: relative;
      right: 5rem;
    }
    
    .phone {
      display: inline-block;
      width: 50%;
      text-align: left;
      position: relative;
      left: 5rem;
    }
  }
  
  .served-by {
    color: $text-color-light;
    opacity: .74;
    padding: .4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    
    a {
      color: $text-color-light;
    }
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    padding: .62rem .93rem;
    
    .path {
      stroke: rgba(#fff, .8);
    }
  }
  
  .editable:before {
    background-image: url('../img/edit-white.svg');
  }
}
.profile-body {
  width: 100%;
  background-color: white;
  
  .description {
    text-align: center;
    padding: 4.5rem;
    width: 50rem;
    margin: auto;
    
    @media screen and (max-width: 57em) {
      width: 54%;
    }
    @media screen and (max-width: 43em) {
      width: 75%;
    }
  }

  .editable:before {
    background-image: url('../img/edit-gray.svg');
  }
}
 
.profile-tabs {
  font-size: $font-size-medium;
  margin: auto;
  text-align: center;
  height: 4.42rem;

  .tab { 
    display: inline-table;
    height: 4.42rem;
    margin: 0 -3rem;
    padding: 0;
  
    &:hover {
      text-decoration: none;
    }
    &.unfocus {
      svg path {
        fill: lighten($background-color-dark, 30%);
      }
      .pdf-title {
        background-color: lighten($background-color-dark, 30%);
      }
    }
    
    svg {
      display: table-cell;
      margin: 0 -.2rem;
    }
  
    .pdf-title {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $text-color-light;
      background-color: $background-color-dark;
      padding: 0 5rem;
    }
  }
}
$profile-confirmation-bg-color: #406A85;
.profile-confirmation-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: $profile-confirmation-bg-color;
  box-shadow: 0 0 .6rem rgba(#000, .35);
  text-align: right;
  width: 100%;
  max-width: $profile-page-width+20rem;
  
  &:before {
    content: ' ';
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $profile-confirmation-bg-color;
    margin: 0 -9600rem;
    padding: 0 9600rem;
  }

    
  .profile-confirm-remember {
    height: 100%;
    color: rgba(#fff, .8);
  }
  
  .profile-confirm-button {
    background: white;
    margin: 1rem;
  }
}

.pdf {
  height: 80rem; // TODO placeholder
  background: $background-color-dark;
}

