/****************************************************
 *
 * Main scss, which doesn't produce any css by itself
 * 
 ****************************************************/
 
@charset "utf-8";

/**
 * Variables
 */
// Width of the content area
$content-width:   960rem;

$phone:           480rem;
$desktop:         960rem;

// Fonts settings
$font-family-header: "Roboto", Helvetica, Arial, sans-serif;
$font-family-body:   "Roboto", Helvetica, Arial, sans-serif;
$font-size-base:    1.6rem;
$font-size-medium:  1.8rem;
$font-size-large:   2.4rem;
$font-size-small:   1.2rem;
$font-weight-medium:   400;
$font-weight-light:    300;
$font-weight-bold:     700;
$line-height-base:     1.5;


// Colors
$text-color-dark:        #1F1F1F;
$text-color-light:       #F5F5F5;
$background-color:       #F1F0EF;
$background-color-dark:  #373839;
$accent-color:           #406A85;

/**
 * Mixins / Functions
 */
@mixin media-query($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin media-desktop() {
  @media (min-width: $desktop+1) {
    @content;
  }
}
@mixin media-tablet() {
  @media (min-width: $phone+1) and (max-width: $desktop) {
    @content;
  }
}
@mixin media-phone() {
  @media (max-width: $phone) {
    @content;
  }
}
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-ms-transform: $transforms;
  transform: $transforms;
}
@mixin transform-origin ($origin) {
	-webkit-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($args...) {
  -webkit-animation: $args;
  animation: $args;      
}
@mixin transition($args...) {
  -webkit-transition: $args;
  transition: $args;
}

@mixin placeholder() {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    @content
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @content
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    @content
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @content
  }
  &:placeholder-shown { /* Standard */
    @content
  }
}


/**
 * Super classes
 */
 
// Clearfix, abstract
%clearfix {

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@import 'base', 'layout';