<div ng-controller="LoginController" >

  <form novalidate name="login" class="login-form" ng-submit="submit()">
  
    <div class="email-form">
      <label>E-mail:</label>
      <input placeholder="E-mail" type="email" name="email" ng-model="user.email" required>
      <span class="error" ng-show="login.email.$error.required">Required!</span>
      <span class="error" ng-show="login.email.$error.email">Not valid email!</span>
    </div>
    
    <div class="password-form">
      <label>Password:</label>
      <input placeholder="Password" type="password" name="password" ng-model="user.password" required>
      <span class="error" ng-show="login.password.$error.required">Required!</span>
    </div>
    
    <input type="submit" value="Login">
  </form>
  <pre>{{ user | json }}</pre>
  
  <p>Message: {{ message }}</p>
</div>