<section class="profile-content">

  <header class="profile-header" background-image="{{ user.ProfileHeader }}" path="user.ProfileHeader">
    <img class="profile-icon" src="{{ user.ProfileIcon }}" alt="Profile picture">
    <h1 class="fullname">{{ user.FullName }}</h1>

    <div class="profile-information">
      <p class="email">{{ user.EMail }}</p><!--
   --><p class="phone">{{ user.Phone }}</p>
    </div>
    
    <p class="served-by">Served by: <a href="/">Malicious Mango</a></p>
  </header>
  
  <div class="profile-body">
  
    <p class="description">{{ user.Description }}</p>
  
    <div class="profile-tabs">
      <a href="#" class="tab" ng-class="{unfocus: n!=0}" ng-repeat="(n, pdf) in user.PDFs">
        <svg class="tab-left-side" width="50.486px" height="44.204px" viewBox="0 0 50.486 44.204" enable-background="new 0 0 50.486 44.204">
          <path fill="#373839" d="M50.486-0.001v44.205c-25.206,0-44.307,0-50.486,0c0.233,0,0.484,0,0.757,0 C37.293,44.204,13.329,0.045,50.486-0.001z"/>
        </svg><!--
        
     --><span class="pdf-title">{{ pdf.title }}</span><!--
  
     --><svg class="tab-right-side" width="50.486px" height="44.204px" viewBox="0 0 50.486 44.204" enable-background="new 0 0 50.486 44.204">
          <path fill="#373839" d="M0-0.001v44.205c25.206,0,44.307,0,50.486,0c-0.233,0-0.484,0-0.757,0 C13.193,44.204,37.157,0.045,0-0.001z"/>
        </svg>
        
      </a>
    </div>
    
    <div class="pdf"></div>
  </div>

</section>
